doctype html
html
  head
    link(rel="icon" type="image/png" href="https://icons-for-free.com/iconfiles/png/512/bread+bread+loaf+food+toast+icon-1320168012160404253.png")
    link(rel="stylesheet" href="stylesheets/sign-up.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
    script(src="/javascripts/sign-up.js" type="module" defer)
    include utils.pug
  body
    div(class='right-side')
      div(class="form-div")
        ul(class='buttons')
          if !locals.authenticated
            li: a(class="login-button" href="/log-in") Log in
          if locals.authenticated
            li: a(href="/log-out") Logout
      //- div(class="errors-form-div")
      //-   if (errors.length > 0)
      //-           p The following error(s) occurred:
      //-           ul
      //-               each error in errors
      //-                   li= error
      div(class="form-div")
          form(action="/sign-up" method="post")
              div(class='sign-up-sentence') Sign up for free.
              input(type="hidden" name="_csrf" value=csrfToken)
              input(class="input-box-error" type="text" name="firstName" placeholder='First Name')
              div(class="error-msg")
                if !input
                  each error in errors
                    -if(error.includes("Please provide a value for First Name"))
                        p= error
              input(class="input-box-error" type="text" name="lastName" placeholder='Last Name')
              div(class="error-msg")
                if !input
                  each error in errors
                    -if(error.includes("Please provide a value for Last Name"))
                        p= error
              input(class="input-box-error" type="text" name="email" placeholder="Email")
              div(class="error-msg")
                if !input
                  each error in errors
                    -if(error.includes("Please provide a value for Email Address"))
                        p= error
                -else if (input.includes('[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+')) // TO FIX
                  each error in errors
                    -if(error.includes("Email Address is not a valid email"))
                      p= error
              input(class="input-box-error" type="password" name="password" placeholder='Password')
              div(class="error-msg")
                if !input
                  each error in errors
                    -if(error.includes("Please provide a value for Password"))
                        p= error
              input(class="input-box-error" type="password" name="confirmPassword" placeholder='Confirm Password')
              div(class="error-msg")
                if !input
                  each error in errors
                    -if(error.includes("Please provide a value for Confirm Password"))
                        p= error

              button(type="submit") Sign-Up!



    main(class='left-side')
      div(class='bread-pic')
        a(class="bread-anchor" href="/"): img(class="bread-image" src="https://icons-for-free.com/iconfiles/png/512/bread+bread+loaf+food+toast+icon-1320168012160404253.png")
        a(class="nav-title" href="/") Remember the Bread
      div(class="quote")
        div(class="people-images")
          div(class="person-1")
            img(src="https://www.rememberthemilk.com/img/hp_person3.png?1587967172")
          div(class="person-2")
            img(src="https://www.rememberthemilk.com/img/hp_person2.png?1587967172")
          div(class="person-3")
            img(src="https://www.rememberthemilk.com/img/hp_person4.png?1587967172")
        h1 Join millions of people getting organized and productive!
